<div class="container mt-5">
    <div class="card text-bg-dark mb-3 mx-auto">
      <div class="card-header">Backlight Studio Task</div>
      <div class="card-body">
        <h2 class="card-title">Leaderboard</h2>
        <h6 class="card-text">Some Important Points</h6>
        <ul>
            <li>Fetching might be slow as i am using free version of render for hosting :(</li>
            <li>Tech stack used in backend is nodejs, expressjs and mysql.</li>
            <li>Tech stack used in frontend is Angular and Bootstrap.</li>
            <li>Our database currently holds nearly 12,000 entries from February 18, 2024, to February 29, 2024.</li>
            <li>Our navigation bar features three links, each representing a distinct API function as asked in the task.</li>
            <li>
                Three API's are :- 
                <ol>
                    <li>"https://leaderboard-backend-51d3.onrender.com/leaderboard/current-week"</li>
                    <li>"https://leaderboard-backend-51d3.onrender.com/leaderboard/last-week/:country"</li>
                    <li>"https://leaderboard-backend-51d3.onrender.com/leaderboard/user-rank/:userId"</li>
                </ol>
            </li>
        </ul>
        <h6 class="card-text">More About Me</h6>
        <ul>
            <li>
                <a class="icon-link icon-link-hover" href="https://abu-tech.tiiny.site" target="_blank">
                    My Resume
                    <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                </a>
            </li>
            <li>
                <a class="icon-link icon-link-hover" href="https://abu-tech.vercel.app/" target="_blank">
                    My Portfolio
                    <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                </a>
            </li>
        </ul>
      </div>
    </div>
</div>
